.HabitList {
  display: flex;
  justify-content: center;
  padding: 12px 8px;
  font-size: 0.8em;
}

.HabitListItem, .NewHabitButtonWrapper {
  width: 25%;
}

@media print {
  .NewHabitButtonWrapper {
    display: none;
  }
}