.EditWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 12px;
}

.EditControlsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}