.HabitLog {
  margin: 4px 0 0 0;
  font-size: 0.6em;
  display: flex;
    justify-content: space-between;
}

.LogBubbles {
  display: inline-block;
  margin-top: 1px;
}

.LogBubble {
  display: inline-block;
  width: 8px;
  height: 7px;
  border-radius: 100px;
  border: 1px solid #000;
}